body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Stellt sicher, dass der Body die gesamte Höhe des Viewports einnimmt */
    font-family: Arial, sans-serif; /* Schriftart für den gesamten Body */
    text-align: center;
}

.title {
    background-color: rgb(200, 200, 255);
}

.subtitle {
    background-color: rgb(150, 150, 255);
}

.subsubtitle {
    background-color: rgb(100, 100, 255);
}

.main_body {
    background-color: rgb(50, 50, 255);
}

.footer {
    margin-top: auto; /* Schiebt den Footer an das Ende des flex-Containers */
    background-color: #f2f2f2; /* Optional: Hintergrundfarbe für den Footer */
    text-align: center; /* Zentriert den Text im Footer */
    padding: 10px; /* Optional: Innenabstand für den Footer */
    border-top: 1px solid #ccc; /* Optional: Trennlinie oben */
    font-size: 14px;
    color: #555;
}