:root {
    --gradient-start: rgb(201, 180, 219); /* Startfarbe des Farbverlaufs */
    --gradient-end: rgb(102, 93, 110); /* Endfarbe des Farbverlaufs */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Stellt sicher, dass der Body die gesamte Höhe des Viewports einnimmt */
    font-family: Arial, sans-serif; /* Schriftart für den gesamten Body */
    text-align: center;
    background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end)); /* Farbverlauf von oben nach unten */
}

.title, .subtitle, .subsubtitle, .main_body {
    background: transparent; /* Entfernt die festen Hintergrundfarben */
}

.main_body input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px; /* Abgerundete Ecken */
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Innerer Schatten */
}

.main_body button[type="submit"] {
    padding: 10px 20px;
    background-color: #a9d2d599; /* Halbtransparenter grüner Hintergrund */
    color: white; /* Weißer Text */
    border: none;
    border-radius: 5px; /* Abgerundete Ecken */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Weicher Übergang bei Hover */
}

.main_body input[type="password"]:hover {
    background-color: #c8e2e499;
    color: white;
    border-color: #5ba9ae; /* Updated border color for hover effect */
}
.main_body button[type="submit"]:hover {
    background-color: #5ba9ae99; /* Dunkleres Grün beim Hover */
    color: white; /* Weißer Text für bessere Lesbarkeit */
}


.footer {
    position: fixed; /* Fixiert den Footer am unteren Rand */
    bottom: -100px; /* Startet außerhalb des sichtbaren Bereichs */
    left: 0;
    width: 100%; /* Nimmt die gesamte Breite ein */
    background-color: #566161; /* Optional: Hintergrundfarbe für den Footer */
    text-align: center; /* Zentriert den Text im Footer */
    padding: 10px; /* Optional: Innenabstand für den Footer */
    border-top: 5px solid #434b4c; /* Optional: Trennlinie oben */
    font-size: 13px;
    color: #ffffff;
    transition: bottom 0.3s ease; /* Weicher Übergang beim Einblenden */
}

.footer a[type="footer-link"] {
    color: #c8b4e2; /* Weißer Text */
    text-decoration: none; /* Entfernt die Unterstreichung */
    font-size: 16px; /* Schriftgröße */
    padding: 5px 10px; /* Innenabstand */
    transition: background-color 0.3s ease; /* Weicher Hover-Effekt */
}

.footer a[type="footer-link"]:hover {
    color: #bb87ff; /* Grüner Text beim Hover */
    text-decoration: underline; /* Unterstreichung beim Hover */
}