<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/stylesheet_home.css">
    
    <title>private sozial media</title>
</head>
<body class="body">
    <header class="navbar">
        <h1 type="navbar-title">Private Sozial Media</h1>
        <a href="https://private-sozial-media.onrender.com/logout" type="logout-link">Logout</a>
    </header>
    <hr>
    <div type="content">
    <p>Jojo</p>
    <p>Only visible when logged in</p>
    <p>Keine Sorge, hier kommt bald noch mehr...</p>
    <hr>
    <ul id="global_chat">
    </ul>
    </div>
    <hr>
    <div type="messages">
    <form>
        <input type="text", name="message", placeholder="Enter your message here" required>
        <button type="submit">submit</button>
    </form>
    </div>

    <footer class="footer">
        <p>
            <a href="/privacy">Datenschutz</a><br>
            This website is not a product or service.<br>
            This website is a private testing and learning project and is not publicly accessible.<br>
            Access is intended exclusively for a limited group of users.<br>
            This website and its content are subject to German law, especially the Digital Services Act (DDG).<br>
            There is no commercial intent, and no publication within the meaning of Section 5
            of the German Digital Services Act (DDG) will take place.<br>
            The publicly accessible source code on GitHub is intended solely for educational purposes,<br>
            and exchange within a closed development team.<br>
            Publishing the code does not constitute an invitation to publicly use the web application itself.<br>
            Access to the application is restricted by password protection<br>
            and is not intended for the general public.<br>
            For legal or technical inquiries related to this project, contact: <br>
            <a href="mailto:horsthacker07@gmail.com">horsthacker07@gmail.com</a>
        </p>
      </footer>
</body>
</html>