<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/stylesheet_login.css">

    <title>login</title>
</head>
<body>
    <h1 class="title">Private Sozial Media</h1>

    <h3 class="subtitle">
        The Private Sozial Media is an exclusive private place<br>
        where only those people who know they have access have access.
    </h3><hr>

    <h3 class="subsubtitle">Please enter the password to access the private area.</h3>

    <div class="main_body">
        <h1>Login</h1>
        <form action="https://private-sozial-media.onrender.com/login" method="post">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>

    <footer class="footer">
        <p>
            This website is a private testing and learning project and is not publicly accessible.<br>
            Access is intended exclusively for a limited group of users.<br>
            There is no commercial intent, and no publication within the meaning of Section 5
            of the German Telemedia Act (TMG) will take place.<br>
            The publicly accessible source code on GitHub is intended solely for documentation<br>
            and exchange within a closed development team.<br>
            Publishing the code does not constitute an invitation to publicly use the web application itself.<br>
            Access to the application is restricted by password protection<br>
            and is not intended for the general public.
        </p>
      </footer>
</body>
</html>