<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/stylesheet_privacy.css">

    <title>privacy</title>
</head>
<body class="body">
    <header class="navbar">
        <h1 type="navbar-title">Private Sozial Media</h1>
    </header>
    <main class="main_body">
        <div type="pt">
            </h1>
                Privacy policy
            </h1>
            <p type="privacy-text">
                This application is a private learning and testing project.<br>
                Access is password-protected and restricted to a small, closed group of users.<br>
            </p>
        </div>
        <div type="cds">
            <h3>🔐 Content and data storage</h3>
            Anonymous text entries can be submitted within the application.<br>
            This content is saved for display within the application. It is not used for commercial purposes.<br>
            No personal data such as names or email addresses are collected.<br>
        </div>
        <div type="td">
            <h3>📂 Technical data</h3>
            For technical security and troubleshooting purposes, the IP address may be<br>
            temporarily logged during use.<br>
            This data is not analyzed and will not be shared with third parties.<br>
        </div>
        <div type="ur">
            <h3>📱 User responsibility</h3>
            Users are responsible for their own submitted content.<br>
            Posting copyrighted, offensive, or illegal content is prohibited.<br>
            We reserve the right to immediately delete such content upon becoming aware of any violations.<br>
        </div>
        <div type="nc">
            <h3>🍪 No cookies, no tracking</h3>
            There is no tracking, no use of cookies, and no sharing of data with third parties.<br>
        </div>
        <div type="c">
            <h3>📞 Contact</h3>
            For information on technical or data protection issues, please contact the following email address:<br>
            <a href="mailto:horsthacker07@gmail.com" type="link">horsthacker07@gmail.com</a>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-bar">
            <p>
                <a href="/legal_status" type="footer-link">Legal Status</a><br>
                This website is not a product or service.<br>
                This website is a private testing and learning project and is not publicly accessible.<br>
                Access is intended exclusively for a limited group of users.<br>
                This website and its content are subject to German law, especially the Digital Services Act (DDG).<br>
                There is no commercial intent, and no publication within the meaning of Section 5
                of the German Digital Services Act (DDG) will take place.<br>
                The publicly accessible source code on GitHub is intended solely for educational purposes,<br>
                and exchange within a closed development team.<br>
                Publishing the code does not constitute an invitation to publicly use the web application itself.<br>
                Access to the application is restricted by password protection<br>
                and is not intended for the general public.<br>
                For legal or technical inquiries related to this project, contact: <br>
                <a href="mailto:horsthacker07@gmail.com" type="footer-link">horsthacker07@gmail.com</a>
            </p>
        </div>
      </footer>
</body>
</html>